<body>
	<router-outlet></router-outlet>
	<div class="upper-logo">
		<div class="logo-image"></div>
		<span>PuppyStay</span>
	</div>
	<div class="house-roof"></div>
	<div class="roof-base"></div>
	<div class="roof-base-inside"></div>
	<div class="house-body"></div>
	<!-- <div class="back-cover"></div> -->
	<div class="roof-base-top"></div>
	<a routerLink="/puppies" routerLinkActive="active"><div class="visit-button">VISIT</div></a>
	<div class="puppy-logo">
		<div class="logo"></div>
		<span></span>
	</div>
	<div class="ground"></div>
</body>
